/* navbar hover menu */
.dropdown-submenu {
    position: relative;
}

/* navbar hover menu */
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

/* navbar hover menu */
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.block {
  display:block;
}

/* navbar hover menu */
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

/* navbar hover menu */
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

/* navbar hover menu */
.dropdown-submenu.pull-left {
    float: none;
}

/* navbar hover menu */
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* navbar collapse width settings */

@media (max-width: 880px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }
    .navbar-header {
        float: none;
    }
}

/* recent raid carousel resolution setting */
@media (max-width: 1400px) {
    .hidden-1420px {
        display: none !important;
    }
}

/* TEMPORARY HIGHLIGHT CLASS */
.highlight {
    color:red;
}

/* remove element from display */
.hidden {
    display: none !important;
}

/* flag->text margin */
.flag-icon {
    margin-right: 4px;
}

.thumbnail.top-guild {
    height: 300px;
    padding-top: 50px;
}

.thumbnail.top-guild:hover {
    border-color: #000000;
}

.thumbnail.top-guild img {
    height: 200px;
    line-height: 300px;
    vertical-align: middle;
}

.thumbnail .screenshot {
    height: 300px;
    line-height:300px;
}

.thumbnail .screenshot img {
    display: inline;
}

.table thead {
    border: 0;
    margin: 0;
    padding: 0;
}

.screenshot-large {
    max-width: 600px !important;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #337ab7;
}

.text-cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#carouselStreams .carousel-inner img {
    margin-right: auto;
    margin-left: auto;
}

.media-overlay-top {
    width: 100%;
    height: 50px;
    position:absolute;
    top: 0;
    overflow:hidden;
}

.media-overlay-top-content {
    max-width: 900px;
    height: 50px;
    background-color: rgba(0,0,0,.9);
    margin-left: auto;
    margin-right: auto;
}

.media-overlay-top-content img {
    height: 50px;
}

.media-overlay-bottom {
    width: 100%;
    height: 75px;
    position:absolute;
    bottom: 0;
    overflow:hidden;
}

.media-overlay-bottom-content {
    max-width: 900px;
    height: 75px;
    background-color: rgba(0,0,0,.9);
    margin-left: auto;
    margin-right: auto;
}

.media-guild-flag {
    opacity: 0.10;
}

.media-text-content {
    position: absolute;
}

.media-guild-logo {
    margin-top: -60px;
}

#spreadsheetModal .modal-dialog {
    width: auto;
}

.navbar-brand {
    margin-top: -25px;
    padding: 0;
}

.navbar-brand img {
    margin: 0;
    padding: 0;
    max-height: 95px !important;
    width: 95px !important;
}

.table-curved {
    border-collapse: separate;
}

.table-curved {
    border: solid #C0C0C0 1px; /* #337ab7 */
    border-radius: 4px 4px 0px 0px;
}

/* bootstrap override fix for modals shifting content to the left */
.modal-open {
    padding-right: 0 !important;
    overflow-y: hidden;
}

#footer a {
    color: #FFFFFF;
}

/* red faction text color */
.defiant,.dominion {
    color: #FF0000;
}

/* blue faction text color */
.guardian,.exiles {
    color: #0000FF;
}

#body-wrapper {
    min-height:65.3vh;
}

textarea {
    resize: none;
}

/* adds transparency to element by reducing opacity */
.faded {
    opacity: .3;
}

.panel-heading {
    background-color: #C0C0C0;
}

.bg-primary {
    /* background-color: #C0C0C0; */
}

.panel {
    border-color: #C0C0C0;
}

.panel-primary > .panel-heading {
    background-color: #C0C0C0;
    background: -moz-linear-gradient(270deg, #C0C0C0 0%, #9C9C9C 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C0C0C0), color-stop(100%, #9C9C9C)); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, #C0C0C0 0%, #9C9C9C 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, #C0C0C0 0%, #9C9C9C 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, #C0C0C0 0%, #9C9C9C 100%); /* ie10+ */
    background: linear-gradient(180deg, #C0C0C0 0%, #9C9C9C 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C0C0C0', endColorstr='#9C9C9C',GradientType=0 ); /* ie6-9 */

    border-color: #C0C0C0;


/*
    DEFAULT GRADIENT
    background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
 */
}

.panel-primary > .panel-heading > span.h4 {
    color: #555555;
    font-weight: bold;
    font-size: 16px;
}

.medium-flag {
    height: 26px;
}

.modal-primary {
    background-color: #C0C0C0;
    background: -moz-linear-gradient(270deg, #C0C0C0 0%, #9C9C9C 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C0C0C0), color-stop(100%, #9C9C9C)); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, #C0C0C0 0%, #9C9C9C 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, #C0C0C0 0%, #9C9C9C 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, #C0C0C0 0%, #9C9C9C 100%); /* ie10+ */
    background: linear-gradient(180deg, #C0C0C0 0%, #9C9C9C 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C0C0C0', endColorstr='#9C9C9C',GradientType=0 ); /* ie6-9 */

    border-radius: 4px 4px 0px 0px;
}

.bg-primary {
    background-color: #C0C0C0;
    background: -moz-linear-gradient(270deg, #C0C0C0 0%, #9C9C9C 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C0C0C0), color-stop(100%, #9C9C9C)); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, #C0C0C0 0%, #9C9C9C 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, #C0C0C0 0%, #9C9C9C 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, #C0C0C0 0%, #9C9C9C 100%); /* ie10+ */
    background: linear-gradient(180deg, #C0C0C0 0%, #9C9C9C 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C0C0C0', endColorstr='#9C9C9C',GradientType=0 ); /* ie6-9 */

    border-radius: 4px 4px 0px 0px;
}

body { padding-top: 55px; }

.table-hover tbody tr:hover td {
    background-color: #CCCCCC !important;
}

.table-hover tbody tr:hover th {
    background-color: none !important;
}

.table-striped {
    background-color: #FFFFFF !important;
}

.table-striped > tbody > tr.table-data:nth-child(2n+1) > td {
   background-color: #D9D9D9;
}

.table > tbody > tr > th {
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    border: 0;
    background-color: #FFFFFF !important;
}

.table > tbody > tr > th.subHeader {
    border-bottom: 1px solid #CCCCCC;
}

.table > tbody > tr > th.subTitle, .table > thead > tr > th.subTitle {
    color: #555555;
    font-weight: bold;
    font-size: 14px;
}

.side-ranking-header {
    font-family: Impact,sans-serif;
    color: #777777;
}

.border-left {
    border-left: 1px solid #CCCCCC !important;
}

.border-right {
    border-right: 1px solid #CCCCCC;
}

.table.table-pane tbody > tr > th{
    font-weight: bold;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

.inactive {
    color: #333333;
}