#menu-wrapper {
    max-width: 1920px;
    width: 100%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    background-color: #191919;
    z-index: 100;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    cursor: default;
}

#menu-content {
    display: inline-block;
    width: 100%;
    height: 35px;
    z-index: 100;
}

.menu-sub-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #707070;
    background-color: #191919;
    text-align: left;
    min-width: 215px;
    overflow-x: visible;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
    transition: background-color .05s ease-in-out;
    -moz-transition: background-color .05s ease-in-out;
    -webkit-transition: background-color .05s ease-in-out;
    cursor: pointer;
}

div.menu-sub-header:hover {
    background-color: #BBBBBB;
}

div.menu-sub-header:hover > div.level-1 {
    visibility: visible;
}

.level-1 {
    visibility: hidden;
    position: absolute;
    background-color: #191919;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #707070;
    min-width: 215px;
    text-align: left;
    margin-left: 207px;
    margin-top: -35px;
}

.level-1.image {
    margin-top: -36px;
}

ul.nav {
    display: inline-block;
    border: 0;
    border-collapse: collapse;
}

ul.nav li {
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #E8E8E8;
    color: #707070;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;

   transition: color .15s ease-in-out;
   -moz-transition: color .15s ease-in-out;
   -webkit-transition: color .15s ease-in-out;
}

ul.nav li:hover {
    color: #FFFFFF;
    cursor: default;

}

ul.nav li a:hover {
    color: #E8E8E8 !important;
    cursor: default;
}

ul.nav li:hover > div {
    display: block;
    z-index: 100;
}

div.menu-sub {
    margin-left: -10px;
    display: none;
    position: absolute;
    background-color: #000000;
    background-color: #191919;
    opacity: 0.95;
}

div.menu-sub a:hover {
    cursor: pointer !important;
}

.fixed {
    position: fixed;
    top: 0;
}