div#body-wrapper {
    width: 100%;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div#body-content {
    display: inline-block;
    width: 1366px;
    min-height: 768px;
}

div#submenu-1 {
    float: left;
    margin: 10px;
    margin-left: 0px;
}

div#submenu-2 {
    float: right;
    margin: 10px;
    margin-right: 0px;
}

div#glossary-wrapper {
    display: table;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

img.flag-icon {
    height: 16px !important;
    vertical-align: middle;
    margin-right: 2px;
}

img.guild-logo-large {
    vertical-align: middle;
    width: 300px;
}

img.guild-logo-medium {
    vertical-align: middle;
    width: 200px;
}

img.trend-icon {
    vertical-align: middle;
    margin-right: 2px;
}

ul#social {
    display: inline;
    border: 0;
    border-collapse: collapse;
}

ul#social li {
    display: inline-block;
    height: 35px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

ul.submenu {
    margin: 0;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    -webkit-user-select: none;
    cursor: default;
    height: 40px;
}

ul.submenu a:last-child li {
    border: 0 !important;
}

ul.submenu li:hover {
    color: blue;
    cursor: pointer;
}

ul.submenu li {
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #C0C0C0 !important;
}

ul.submenu li input[type=text] {
    border:0;
}

ul.submenu li input:focus{
    outline: 0;
}

.block-title {
    font-family: Impact, Helvetica, sans-serif;
    font-size: 18px; 
    font-weight: normal;
    color: rgba(85,85,85,1.0);
}

div#info-content-wrapper {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    padding: 0px 3px 0px 3px;
    float: right;
}

div#top-content-wrapper {
    float: left;
    text-align: center;
    height: 325px;
}

div.top-guild-container {
    display: inline-block;
    text-align: center;
    height: 325px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

div.top-guild-container:hover .top-guild-logo {
    border: 1px solid blue;
    border-radius: 3px;
}

div.top-guild-separator {
    display: inline-block;
    width: 15px;
}

div.top-guild-logo {
    height: 275px;
    width: 275px;
    line-height:275px;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    vertical-align: middle;
}

div.top-guild-logo img {
    vertical-align: middle;
}

div.top-guild-name {
    height: 25px;
    line-height: 25px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 22px; 
    font-weight: normal;
    color: rgba(85,85,85,1.0);
}

div.top-guild-place {
    height: 25px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    font-weight: bold;
    color: rgba(85,85,85,1.0);
}

.side-rankings-header {
    text-align: left;
    font-family: Impact;
}

span.highlight {
    color: #FFFFFF;
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 5px;
    padding: 2px;
}

#rankings-wrapper {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    padding: 0px 3px 0px 3px;
}

#main-block {
    width: 1000px; /*890px;*/
    display: inline-block;
    vertical-align: top;
    float: left;
}

#side-block {
    width: 360px;
    display: inline-block;
    vertical-align: top;
    float: right;
}

#dialog-wrapper {
    display: inline-block;
    width: 30%;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    padding: 5px;
}

#dialog-wrapper > #dialog-title {
    font-size: 24px;
    background-color: #C0C0C0;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    color: #000;
}

#dialog-wrapper > #dialog-body {
    font-size: 14px;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left;
}