.scroll-button-recent {
    display: inline-block;
    opacity: 0.25;
    height: 70px;
    width: 46px;
    color: #000;
    font-size: 38px;
    font-family: Verdana, Geneva, sans-serif;
    vertical-align: middle;
    line-height: 70px;
    cursor: default;
    text-align: center;
    -webkit-user-select: none;
}

.scroll-button-recent:hover {
    background-color: #444;
}

.scroll-button {
    display: inline-block;
    opacity: 0.25;
    height: 100%;
    width: 46px;
    color: #000;
    font-size: 38px;
    font-family: Verdana, Geneva, sans-serif;
    vertical-align: middle;
    line-height: 375px;
    cursor: default;
    text-align: center;
    -webkit-user-select: none;
}

.scroll-button:hover {
    background-color: #444;
}

#videos-wrapper {
    display:inline-block;
    width: 890px;
    height: 375px;
    text-align: left;
    vertical-align: top;
}

#media-pane {
    display:inline-block;
    width: 788px;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}

#media-pane > ul {
    display: inline-block;
    left: 0px;
    list-style: none;
    height: 100%;
    width: 1000%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}

#media-pane > ul > li {
    height: 375px;
    float: left;
    position: relative;
}

#media-pane > ul > li > img {
    display: inline-block;
    margin: auto;
    height: 375px;
    width:  788px;
}

#recent-raids-wrapper {
    display: inline-block;
    width: 1336px;
    height: 70px;
    text-align: left;
    vertical-align: top;
}

#latest-kills {
    display: inline-block;
    width: 1198px;
    height: 70px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}

#latest-kills > ul {
    display: inline-block;
    left: 0px;
    list-style: none;
    height: 70px;
    width: 1000%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}

#latest-kills > ul > li {
    float: left;
    position: relative;
    width: 150px;
    height: 70px;
    display: inline-block;
    text-align: left;
    border-right: 1px solid #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    cursor: default;
}

#latest-kills > ul > li:hover {
    background-color: #D5D5D5;
}

#latest-block {
    width: 100%;
    text-align: left;
}

.latest-guild {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 5px;
}

.latest-kill {
    font-size: 12px;
    color: #000000;
    margin-bottom: 0px;
    margin-left: 5px;
}

.latest-time {
    color: #777777;
    margin-left: 5px;
}

.last-block {
    border: 0;
}

#standings-wrapper {
    text-align: center;
    margin-bottom: -8px;
}