div#form-table-wrapper {
    display:inline-block;
    background-color: #D9D9D9; /*#D9D9D9*/
    border: 1px solid #D9D9D9;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
}

#form-table-wrapper table {
    margin: auto;
    border-collapse: separate;
    width: auto;
    color: #777777;
    /*border: 1px solid #C0C0C0;*/
}

#form-table-wrapper table thead tr th {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

#form-table-wrapper table tbody tr th {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    height: 25px;
    text-align: right;
    padding: 3px;
    padding-right: 10px;
}

#form-table-wrapper table tbody tr td {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    padding: 3px;
}

#form-table-wrapper table tfoot tr td {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding: 3px;
}

#form-table-wrapper input[type=text], input[type=password] {
    background-color: #CCCCCC;
    height: 25px;
    width: 250px;
    padding: 0px 5px 0px 5px;
    border: 0px solid transparent;
}

#form-table-wrapper select {
    background-color: #CCCCCC;
    height: 25px;
    min-width: 175px;
    border: 0px solid transparent;
}

.form-missing-field {
    border: 1px solid red;
}

 div#faction-logo-preview {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
 }

div#faction-logo-preview div {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    height: 250px;
    line-height: 250px;
}

div#faction-logo-preview div img {
    vertical-align: middle;
}

div#preview-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
}

div#preview-wrapper div {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    height: 250px;
    line-height: 250px;
}

div#preview-wrapper img {
    width: 200px;
    vertical-align: middle;
}

div#preview-preview div img {
    vertical-align: middle;
}