div.table-wrapper {
    display: block;
    border-radius: 3px 3px 0px 0px;
    border: 1px solid #C0C0C0;
    margin: 0;
}

div.table-wrapper.medium {
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    border: 1px solid #C0C0C0;
    width: 49%;
    margin: 0;
    vertical-align:top;
}

.table-header-link {
    font-size: 12px;
}

/*
 * Table Listing Guilds
 */
table.listing {
    border-collapse: collapse;
    width: 100%;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

table.listing tbody tr th {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    padding: 0px 4px 0px 4px;
    color: #000000;
    background-color: #f1f1f1;
}

/*
 * Tables Listing Header for multiple headers eg. Rank, Guild, Server, etc...
 */
table.listing tbody tr th.subHeader {
    height: 26px;
    line-height: 26px;
    font-size: 11px;
    border-bottom: 1px solid #C0C0C0;
}

/*
 * Tables Listing Header for multiple titles eg. Dungeon Name, Tier Name, etc...
 */
table.listing tbody tr th.subTitle {
    background-color: #C0C0C0;
    font-size: 14px;
    text-align: left;
}

table.listing tbody tr td {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    padding: 0px 4px 0px 4px;
}

/*
 * Guild and Server columns must be left-aligned
 */
table.listing tbody tr th:nth-child(2), table.listing tbody tr th:nth-child(3) { text-align: left; }

table.listing tbody tr td:nth-child(2), table.listing tbody tr td:nth-child(3) { text-align: left; }

/*
 * Table row alternate color
 */
table.listing tbody tr:nth-child(odd) { background-color: #D9D9D9; }

/*
 * Table row hover
 */
table.listing tbody tr:hover { background-color: #CCCCCC; }

/*
 * Tables Article Listing
 */
table.article {
    border-collapse: collapse;
    width: 100%;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

table.article thead tr th {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding: 0px 4px 0px 4px;
    color: #000000;
    background-color: #C0C0C0;
}

table.article tbody tr th.subHeader {
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    border-bottom: 1px solid #C0C0C0;
}

table.article tbody tr th.subTitle {
    background-color: #C0C0C0;
    font-size: 14px;
}

table.article tbody tr td {
    height: 30px;
    font-size: 12px;
    padding: 0px 4px 0px 4px;
    vertical-align: middle;
}

table.article tbody tr td:nth-child(1) {
    font-weight: bold;
    width: 200px;
}

table.article tbody tr:nth-child(odd) { background-color: #D9D9D9; }

/*
 * Table Glossary Definitions
 */
table.glossary {
    border-collapse: collapse;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

table.glossary thead tr th {
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding: 0px 4px 0px 4px;
}

table.glossary tbody tr td {
    height: 28px;
    line-height: 28px;
    text-align: left;
    font-size: 11px;
    padding: 0px 8px 0px 8px;
}

/*
 * Table Listing Guilds on Side Blocks
 */
table.side-block-listing {
    border-collapse: collapse;
    width: 100%;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: left;
}

table.side-block-listing tbody tr th {
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    text-align: left;
    padding: 0px 4px 0px 4px;
}

table.side-block-listing tbody tr td {
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #666666;
    text-align: left;
    padding: 0px 4px 0px 4px;
}

table.side-block-listing tbody tr td:nth-child(2) {
    font-size: 30px;
    vertical-align: middle;
    text-align: right;
}

table.listing.guild tbody tr th:nth-child(2), table.listing.guild tbody tr td:nth-child(2) { text-align: center; }

table.listing.activity tbody tr th:nth-child(2), table.listing.activity tbody tr td:nth-child(2) { text-align: center; }
table.listing.activity tbody tr th:nth-child(3), table.listing.activity tbody tr td:nth-child(3) { text-align: center; }

/**
 * Table Details For Dungeon, Encounter, Tier
 */
div#info-content-wrapper {
    min-width: 400px;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    padding: 0px 3px 0px 3px;
    float: right;
}

#info-content-wrapper table {
    width: 100% !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-collapse: collapse;
    width: auto;
    color: #777777;
}

#info-content-wrapper table thead tr th {
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
}

#info-content-wrapper table tbody tr th {
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
}

#info-content-wrapper table tbody tr td {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    text-align: right;
}

/**
 * Table Details For Guild Profile
 */
div#profile-wrapper {
    text-align: left;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    padding: 0px 3px 0px 3px;
}

table.profile-table {
    width: 100%;
    vertical-align: middle;
    border-collapse: collapse;
    color: #777777;
}

table.profile-table thead tr th {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

table.profile-table tbody tr th {
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 4px 0px 4px;
    text-align: right;
}

table.profile-table tbody tr td {
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    padding: 0px 4px 0px 4px;
    text-align: left;
}

table.profile-table tfoot tr th {
    text-align: center;
}

.border-right {
    border-right: 1px solid #C0C0C0;
}

.world-first-rank {
    color: #CC0000 !important;
}

.region-first-rank {
    color: #FF9966 !important; 
}

/**
 * Table Displaying Forms
 */
div#form-table-wrapper {
    display:inline-block;
    background-color: #D9D9D9; /*#D9D9D9*/
    border: 1px solid #D9D9D9;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
}

table.form-table {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: auto;
    border-collapse: collapse;
    width: auto;
    color: #777777;
}

table.form-table thead tr th {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
}

table.form-table tbody tr th {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

table.form-table tbody tr td {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: left;
}

table.form-table tfoot tr td {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
}

table.form-table input[type=text], input[type=password] {
    background-color: #CCCCCC;
    height: 26px;
    min-width: 250px;
    width: 100%;
    padding: 0px 3px 0px 3px;
    border: 0px solid transparent;
}

table.form-table select {
    background-color: #CCCCCC;
    height: 25px;
    min-width: 175px;
    border: 0px solid transparent;
}

table.form-table textarea {
    background-color: #CCCCCC;
    height: 200px;
    width: 100%;
    padding: 0px 5px 0px 5px;
    border: 0px solid transparent;
    resize: none;
}

/**
 * Table Displaying Popup Forms
 */
table.form-table.popup tbody tr th {
    height: 22px !important;
    line-height: 22px !important;
    font-size: 14px !important;
    text-align: left !important;
}

table.form-table.popup select {
    min-width: 100px !important;
}

table.form-table.standard select {
    min-width: 50px !important;
}