/* recent raid wrapper button to scroll */
.scroll-button-recent {
    display: inline-block;
    width: 48px;
    height: 90px;
    line-height: 90px;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 38px;
    text-align: center;
    color: #999999;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.25;
    -webkit-user-select: none;
}

/* recent raid wrapper button to scroll hover state */
.scroll-button-recent:hover {
    background-color: #444444;
}

/* media viewer wrapper button to scroll */
.scroll-button-media {
    display: inline-block;
    width: 50px;
    height: 100%;
    line-height: 500px;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 38px;
    text-align: center;
    color: #999999;
    vertical-align: middle;
    cursor: pointer;
    opacity: .25;
    -webkit-user-select: none;
}

/* media viewer wrapper button to scroll hover state */
.scroll-button-media:hover {
    background-color: #444444;
}

/*  media viewer content wrapper  */
#media-wrapper {
    display: inline-block;
    width: 1000px;
    height: 500px;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
}

/* inner media viewer content */
#media-pane {
    position: relative;
    display:inline-block;
    width: 900px;
    height: 100%;
    margin-left: -4px;
    margin-right: -6px;
    vertical-align: top;
    overflow: hidden;
}

/*  media viewer content list */
#media-pane ul {
    position: relative;
    display: inline-block;
    left: 0;
    height: 100%;
    width: 1000%;
    overflow: hidden;
    vertical-align: top;
}

/* media viewer content item */
#media-pane ul li {
    position: relative;
    height: 500px;
    float: left;
}

/* navigation dots */
.circle {
    display: inline-block;
    background: #FFFFFF;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/* media viewer overlay for displaying navigation */
.media-overlay-navigation {
    position: absolute;
    top: 5px;
    right: 5px;
    overflow: hidden;
}

/* media viewer overlay for displaying streaming site/number of streams */
.media-overlay-top {
    position: absolute;
    top: 0;
    height: 50px;
    width: 900px;
    background-color: rgba(0,0,0,.9);
    overflow: hidden;
}

/* media viewer overlay for displaying information for the video */
.media-overlay-bottom {
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 900px;
    background-color: rgba(0,0,0,.9);
    overflow: hidden;
}

/* media overlay title */
.media-title {
    height: 25px;
    line-height: 25px;
    color: #888888;
    font-size: 15px;
    vertical-align: middle;
    padding: 0px 0px 0px 4px;
}

/* media id of user/creator from source */
.media-id {
    height: 25px;
    line-height: 25px;
    color: #E0E0E0;
    vertical-align: middle;
    padding: 0px 0px 0px 4px;
}

/* media region/server of guild */
.media-location {
    display: inline-block;
    height: 25px;
    line-height: 30px;
    color: #E0E0E0;
    font-size: 12px;
    vertical-align: middle;
}

/* media content guild */
.media-guild {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    color: #D0D0D0;
    font-family: Impact,sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    padding: 0px 0px 0px 4px;
}

/* stream channel site logo */
.media-stream-logo img {
    position: absolute;
    height: 50px;
    float: left;
    vertical-align: middle;
    margin-left: 5px;
    opacity: 0.50;
}

/* media content guild country flag */
.media-guild-flag {
    position: absolute;
    float: left;
    vertical-align: middle;
    margin-left: 5px;
    opacity: 0.10;
}

/* media content guild logo */
.media-guild-logo {
    float: right;
    vertical-align: middle;
    margin-right: 5px;
}

/* media content preview image */
.media-preview-image {
    display: inline-block;
    height: 500px;
    width:  900px;
    margin: auto;
}

/* recent raid listing content wrapper */
#recent-raids-wrapper {
    display: inline-block;
    width: 1366px;
    height: 90px;
    text-align: left;
    vertical-align: top;
    background-color: rgba(21,30,36,0.30);
}

/* recent raid listing inner content */
#latest-kills {
    position: relative;
    display: inline-block;
    width: 1260px;
    height: 90px;
    vertical-align: top;
    overflow: hidden;
}

/* recent raid list */
#latest-kills ul {
    position: relative;
    display: inline-block;
    height: 90px;
    width: 1500%;
    left: 0;
    vertical-align: top;
    overflow: hidden;
}

/* recent raid listing item */
#latest-kills ul li {
    position: relative;
    display: inline-block;
    float: left;
    width: 140px;
    height: 90px;
    font-size: 12px;
    text-align: left;
    border-right: 1px solid #999999;
    cursor: default;
}

/* recent raid listing item link to make the item clickable */
#latest-kills ul li > a {
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 10;
}

/* recent raid listing item hover state */
#latest-kills ul li:hover {
    background-color: rgba(1,31,44,0.50);
}

/* recent raid listing item guild text */
.latest-guild {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin: 0px 0px 0px 5px;
}

/* recent raid listing item encounter text */
.latest-kill {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin: 0px 0px 0px 5px;
    color: #888888;
}

/* recent raid listing item kill time text */
.latest-time {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin: 0px 0px 0px 5px;
    color: #888888;
}

/* recent raid listing item screenshot and video text */
.latest-media {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin: 0px 0px 0px 5px;
    color: #888888;
}

/* recent raid listing screenshot/video text hover state */
.latest-media a:hover {
    color: #0000FF;
}

/* top guild standings listing content wrapper */
#standings-wrapper {
    text-align: center;
    margin-bottom: -8px;
}

/* side block rankings button for switching rank systems */
.side-ranking-systems-buttons {
    height: 28px;
    line-height: 28px;
    border: 1px solid transparent;
    padding: 2px;
}

/* side block rankings subheader (dungeon/tier) */
.side-ranking-header {
    height: 28px;
    line-height: 28px;
    font-family: Impact,sans-serif;
    text-align: left;
}