/* main option pane container */
.option-container {
    display: inline-block;
    width: 250px;
    background-color: rgba(4,4,4,0.7);
    border: 1px solid rgba(60,3,3,0.5);
    vertical-align: top;
}

/* main option pane container hover state */
.option-container:hover {
    border: 1px solid #000000;
}

/* main option pane for adding a new guild */
.option-container.guild.new {
    border-style: dashed;
}

/* main option pane for new guild*/
.option-content.new {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    vertical-align: middle;
}

/* main option pane title text */
.option-title {
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(60,3,3,0.5);
    background-color: rgba(60,3,3,0.5);
}

/* main option pane header (optional) */
.option-header {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
}

/* main option pane footer (optional) */
.option-footer {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px solid rgba(60,3,3,0.5);
}

/* option content pane header/footer guild name (needs to be distinguished) */
.option-header.guild,.option-footer.guild {
    height: 32px;
    line-height: 32px;
    font-size: 14px ;
}

/* main option pane header/footer hover state */
.option-header:hover,.option-footer:hover {
    background-color: #C0C0C0;
}

/* option content pane inner table */
.option-content table {
    width: 100%;
    padding: 5px;
}

/* option content pane inner table header */
.option-content table thead tr th {
    height: 24px;
    line-height: 24px;
    font-size: 18px;
}

/* option content pane inner table body header */
.option-content table tbody tr th {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
}

/* option content pane inner table body content */
.option-content table tbody tr td {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
}

/* option content pane inner table footer header */
.option-content table tfoot tr th {
    text-align: center;
}

#navigation-bar {
    font-size: 13px;
    text-align: left;
    padding: 5px;
    border: 1px solid rgba(60,3,3,1.0);
    background-color: rgba(60,3,3,0.5);
}

#navigation-bar li {
    display: inline-block;
}
