<div id="bottom" class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 text-center">
            <?php echo Functions::generateExternalHyperLink(LINK_GAME_1, IMG_GAME_LOGO_1, '', true); ?>

            <?php echo IMG_SITE_LOGO; ?>

            <?php echo Functions::generateExternalHyperLink(LINK_COMPANY_1, IMG_COMPANY_LOGO_1, '', true); ?>
        </div>

        <div class="col-md-12 col-lg-12 text-center bg-info">
            &copy; 2011 RIFT Progress - All Rights Reserved. 
            <?php echo Functions::generateInternalHyperlink('tos', '', '', 'Terms of Service', ''); ?>
             | 
             <?php echo Functions::generateInternalHyperlink('privacypolicy', '', '', 'Privacy Policy', ''); ?>
        </div>
    </div>
</div>


<!--
<div id="bottom-wrapper">
    <div id="bottom-content">
        <div class="bottom-logo-block">
            <span></span>
            <?php echo Functions::generateExternalHyperLink(LINK_GAME_1, IMG_GAME_LOGO_1, '', true); ?>
        </div>
        <div class="bottom-logo-block">
            <span></span>
            <?php echo IMG_SITE_LOGO; ?>
        </div>
        <div class="bottom-logo-block">
            <span></span>
            <?php echo Functions::generateExternalHyperLink(LINK_COMPANY_1, IMG_COMPANY_LOGO_1, '', true); ?>
        </div>
        <div class="clear"></div>
    </div>
    <div id="bottom-copyright">
        &copy; 2011 RIFT Progress - All Rights Reserved. 
        <?php echo Functions::generateInternalHyperlink('tos', '', '', 'Terms of Service', ''); ?>
         | 
         <?php echo Functions::generateInternalHyperlink('privacypolicy', '', '', 'Privacy Policy', ''); ?>
    </div>
</div>
-->