<div id="footer">
    <div class="container-fluid navbar-inverse">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <?php echo Functions::generateExternalHyperLink(LINK_TWITTER, IMG_TWITTER_LOGO, ''); ; ?>

                    <?php if ( LIVE == 0 ): ?>
                        <?php
                            echo ' Load Time: '.(round((microtime(true) - $_SERVER["REQUEST_TIME_FLOAT"])/1, 2)).' seconds.'; 
                            echo ' Memory Usage: ' .round(memory_get_usage(true)/1048576,2) . 'mb';
                        ?>
                    <?php endif; ?>

                    <ul class="list-inline">
                        <?php echo '<li>' . Functions::generateInternalHyperlink('directory', '', '', '<span class="glyphicon glyphicon-tasks"></span>  Directory', '') . '</li>'; ?>
                        <?php echo '<li>' . Functions::generateInternalHyperlink('howto', '', '', '<span class="glyphicon glyphicon-check"></span>  FAQ', '') . '</li>'; ?>
                        <?php echo '<li>' . Functions::generateInternalHyperlink('tos', '', '', '<span class="glyphicon glyphicon-info-sign"></span>  Terms of Service', '') . '</li>'; ?>
                        <?php echo '<li>' . Functions::generateInternalHyperlink('privacypolicy', '', '', '<span class="glyphicon glyphicon-info-sign"></span>  Privacy Policy', '') . '</li>'; ?>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center" style="vertical-align:middle; display:inline-block; height:200px; line-height:200px; ">
                <?php echo Functions::generateExternalHyperLink(LINK_GAME_1, IMG_GAME_LOGO_1, '', true); ?>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center" style="vertical-align:middle; display:inline-block; height:200px; line-height:200px;">
                <?php echo IMG_SITE_LOGO; ?>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center" style="vertical-align:middle; display:inline-block; height:200px; line-height:200px;">
                <?php echo Functions::generateExternalHyperLink(LINK_COMPANY_1, IMG_COMPANY_LOGO_1, '', true); ?>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <?php echo COPYRIGHT; ?>
            </div>
        </div>
    </div>
</div>