<div id="menu-wrapper">
    <div id="menu-content">
        <ul class="move-left">
            <?php echo Template::drawHeaderMenuItem('news', true); ?>
            <?php echo Template::drawHeaderMenuDropdownItem('standings', false, 3, CommonDataContainer::$tierArray); ?>
            <?php echo Template::drawHeaderMenuDropdownItem('rankings', false, 2, CommonDataContainer::$tierArray); ?>
            <?php echo Template::drawHeaderMenuDropdownItem('servers', false, 0, CommonDataContainer::$regionArray); ?>
            <?php echo Template::drawHeaderMenuItem('howto', true); ?>
            <?php echo Template::drawHeaderMenuItem('directory', true); ?>
            <?php echo Template::drawHeaderMenuItem('quickSubmit', false); ?>
            <?php echo Template::drawHeaderMenuItem('search', false); ?>
        </ul>

        <ul class="move-right">
            <?php echo Template::drawHeaderMenuItem('userpanel', true); ?>
            <?php echo Template::drawHeaderMenuItem('login', false); ?>
            <?php echo Template::drawHeaderMenuItem('logout', false); ?>
            <?php echo Template::drawHeaderMenuItem('register', true); ?>
            <?php echo Template::drawHeaderMenuItem('contactus', false); ?>
        </ul>
    </div>
</div>