<?php foreach(glob("public/css/*.css") as $filename): ?>
        <link rel='stylesheet' type='text/css' href='<?php echo FOLD_INDEX. $filename; ?>'>
<?php endforeach; ?>
<?php if ( isset($cssFile) && !empty($cssFile) ): ?>
        <link rel='stylesheet' type='text/css' href='<?php echo FOLD_INDEX . $cssFile; ?>'>
<?php endif; ?>
<?php foreach(glob("public/js/*.js") as $filename): ?>
        <script type='text/javascript' src='<?php echo FOLD_INDEX . $filename; ?>'></script>
<?php endforeach; ?>
<?php foreach(glob("public/js/global/*.js") as $filename): ?>
        <script type='text/javascript' src='<?php echo FOLD_INDEX . $filename; ?>'></script>
<?php endforeach; ?>
<?php if ( isset($jsFile) && !empty($jsFile) ): ?>
        <script type='text/javascript' src='<?php echo FOLD_INDEX . $jsFile; ?>'></script>
<?php endif; ?>
<?php if ( LIVE == 1 ): ?>
        <script><?php echo GOOGLE_ANALYTICS; ?></script>
<?php endif; ?>