.admin-submit {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px solid #C0C0C0;
    color: #777777;
    background: none;
    border: none;
    outline: none;
}

.admin-textbox,.admin-select {
    width: 200px;
}

.admin-select.month,.admin-select.day,.admin-select.year,
.admin-select.hour,.admin-select.minute {
    max-width: 103px;
}

/* page anchor to be used by page navigation to link */
.anchor {
    display: block; 
    position: relative; 
    top: -40px; 
    visibility: hidden;
}

/* title for sub-panes throughout the page */
.pane-title {
    height: 34px;
    line-height: 30px;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 24px;
    text-align:left;
    border-bottom: 1px solid #000000;
    margin-top: 10px;
}

/* main option pane container */
.option-container {
    display: inline-block;
    width: 325px;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    vertical-align: top;
}

/* main option pane container hover state */
.option-container:hover {
    border: 1px solid #0000FF;
}

.option-content {
    min-height: 200px;
    vertical-align: middle;
}

/* main option pane title text */
.option-title {
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #C0C0C0;
    border-radius: 2px 2px 0px 0px;
    background-color: #C0C0C0;
}

/* main option pane header (optional) */
.option-header {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
}

/* main option pane footer (optional) */
.option-footer {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px solid #C0C0C0;
    vertical-align: bottom;
}

/* option content pane header/footer guild name (needs to be distinguished) */
.option-header.guild,.option-footer.guild {
    height: 32px;
    line-height: 32px;
    font-size: 14px ;
}

/* main option pane header/footer hover state */
.option-header:hover,.option-footer:hover {
    background-color: #C0C0C0;
}

/* option content pane inner table */
.option-content table {
    width: 100%;
    padding: 5px;
    text-align: left;
}

/* option content pane inner table header */
.option-content table thead tr th {
    height: 24px;
    line-height: 24px;
    font-size: 18px;
}

/* option content pane inner table body header */
.option-content table tbody tr th {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}

/* option content pane inner table body content */
.option-content table tbody tr td {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    padding: 0px 5px 0px 5px;
}

.option-content table tbody tr td select {
    width: 100%;
    height: 20px;
}

.option-content table tbody tr td input {
    width: 98.5%;
    height: 14px;
}

.option-content table tbody tr td textarea {
    width: 98.5%;
    resize: none;
}

/* option content pane inner table footer header */
.option-content table tfoot tr th {
    text-align: center;
}

/* side block admin wrapper */
#side-block-admin-wrapper {
    position: fixed;
    width: 360px;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    background-color: #D9D9D9;
    padding: 0px 3px 0px 3px;
}

 /* side block admin table */
.side-admin-table {
    width: 100%;
}

/* side block admin header */
.side-admin-table thead tr th {
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-top: 8px;
}

/* side block admin body header */
.side-admin-table tbody tr th {
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 0px 4px 0px 4px;
}

/* side block admin body cell content */
.side-admin-table tbody tr td {
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    text-align: left;
    padding: 0px 4px 0px 4px;
}