/* title for sub-panes throughout the page */
.pane-title {
    height: 34px;
    line-height: 30px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    text-align:left;
    border-bottom: 1px solid #000000;
    margin-top: 10px;
}

/* recent activity pane content wrapper */
#recent-activity-wrapper {
    vertical-align: middle;
}

/* inner recent activity content pane */
#recent-activity-content {
    min-height: 350px;
    display: table;
}

/* recent activity screenshot image container */
#recent-activity-screenshot {
    display: table-cell;
    width: 600px;
    vertical-align: middle;
}

/* recent activity content details container */
#recent-activity-description {
    width: 395px;
    display: table-cell;
    vertical-align: middle;
}

/* recent activity encounter name text */
#recent-activity-encounter-name {
    height: 26px;
    line-height: 26px;
    font-size: 22px;
}

/* recent activity encounter details text */
.encounter-details {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
}

/* faction logo in side profile pane */
#profile-faction-logo {
    text-align: center;
}

/* page anchor to be used by page navigation to link */
.anchor {
    display: block; 
    position: relative; 
    top: -40px; 
    visibility: hidden;
}

/*
    PAGE NAVIGATION
*/

/* inner page navigation */
#page-navigation {
    margin-top: 6px;
    text-align: left;
}

/* page navigation line item */
#page-navigation ul li {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    padding: 0px 20px 0px 0px;
}

/* page navigation line item hover state */
#page-navigation ul li:hover {
    color: blue;
}